<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Channel & Shows</title>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

</head>
<body ng-app="app" ng-controller="AppCtrl" ng-cloak>

<div class="demo-content tabsDemoDynamicTabs" >

    <md-content class="md-padding">
        <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>

            <md-tab ng-repeat="tile in tiles"  label="{{tile.category}}">

                <div ng-repeat="channel in tile.channels" flex-xs flex-gt-xs="25" layout="column">
                    <md-card>
                        <md-card-title>

                            <md-card-title-text>
                                <span class="md-headline">{{channel.name}}</span>
                            </md-card-title-text>

                        </md-card-title>

                        <md-card-content layout="row">
                            <md-card-title-media>
                                <div class="md-media-sm card-media">
                                    <img ng-src="/img/icons/{{channel.id}}.png" class="md-card-image" alt="Washed Out">
                                </div>
                            </md-card-title-media>
                        </md-card-content>

                    </md-card>
                </div>

            </md-tab>

        </md-tabs>
    </md-content>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

<script src="js/app.js"></script>
<script src="js/app.api.js"></script>
</body>
</html>
